
.Comunications{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -5rem;
    padding: 1rem;
    gap: 1rem;
    width: 90%;
    h4{
        margin: 0;
        font-size: 1.6rem;
    }
    span{
        height: 0.7rem;
        border-radius: 1.5rem;
    }
    

    .bar_Title{
        display: flex;
        justify-content: space-between;
    }
}