
.Comunications{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
    width: 90%;
    h4{
        margin: 0;
        font-size: 2rem;
    }
    span{
        height: 1rem;
        border-radius: 1.5rem;
    }
    

    .bar_Title{
        display: flex;
        justify-content: space-between;
    }
}