
.mission_c_data{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    height: 40rem;
    .Weather_card{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .BG_CM{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        left: 0;
    }
}

.title_CM{
    font-size: 2rem;
    text-align: center;
}
