@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
    background-color: #020723;
    color: white;
}

::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 90%;
}

.title_page{
    text-align: center;
    font-size: 1.5rem;
}

.hidden{
    display: none;
}

.show{
    display: contents;
}